In [1]:
import pandas as pd
import regex as re

In [2]:
df = pd.read_csv('/content/drive/MyDrive/WILD CODE SCHOOL/PROJECT 4 - WEBSCRAPING/Kaggle_2_goodreads/full_dataset.csv')

FileNotFoundError: ignored

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [ ]:
df.info()

In [ ]:
df.head()

In [ ]:
df['Description'].value_counts()

In [ ]:
df['PagesNumber'].value_counts()

In [ ]:
df['pagesNumber'].value_counts()

In [ ]:
df['pagesnumber_diff'] = df['PagesNumber'] - df['pagesNumber']
df['pagesnumber_diff']

In [ ]:
df['ISBN'].isna().sum()

5923

In [ ]:
# Drop rows who don't have ISBN
df.dropna(subset=['ISBN'], how='all', inplace=True)
df

,Unnamed: 0,Id,Name,RatingDist1,pagesNumber,RatingDist4,RatingDistTotal,PublishMonth,PublishDay,Publisher,...,Language,Authors,Rating,RatingDist2,RatingDist5,ISBN,RatingDist3,Description,Count of text reviews,PagesNumber
1,1,2,Harry Potter and the Order of the Phoenix (Har...,1:12455,870.0,4:604283,total:2358637,1,9,Scholastic Inc.,...,eng,J.K. Rowling,4.50,2:37005,5:1493113,0439358078,3:211781,NaN,NaN,NaN
3,3,4,Harry Potter and the Chamber of Secrets (Harry...,1:11896,352.0,4:706082,total:2560657,1,11,Scholastic,...,eng,J.K. Rowling,4.42,2:49353,5:1504505,0439554896,3:288821,NaN,NaN,NaN
4,4,5,Harry Potter and the Prisoner of Azkaban (Harr...,1:10128,435.0,4:630534,total:2610317,1,5,Scholastic Inc.,...,eng,J.K. Rowling,4.57,2:24849,5:1749958,043965548X,3:194848,NaN,NaN,NaN
6,6,8,"Harry Potter Boxed Set, Books 1-5 (Harry Potte...",1:402,2690.0,4:4650,total:43968,13,9,Scholastic,...,eng,J.K. Rowling,4.78,2:283,5:37432,0439682584,3:1201,NaN,NaN,NaN
7,7,9,"Unauthorized Harry Potter Book Seven News: ""Ha...",1:0,152.0,4:7,total:28,26,4,Nimble Books,...,en-US,W. Frederick Zimmerman,3.79,2:5,5:10,0976540606,3:6,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1850305,40885,999991,Gendered Talk at Work: Constructing Gender Ide...,1:0,251.0,4:3,total:25,21,7,Wiley-Blackwell,...,NaN,Janet Holmes,4.28,2:1,5:15,1405117591,3:6,<i>Gendered Talk at Work</i> examines how wome...,0.0,NaN
1850306,40886,999992,Good Will Toward Men: Women Talk Candidly abou...,1:0,231.0,4:0,total:0,1,2,St. Martin's Press,...,NaN,Jack Kammer,0.00,2:0,5:0,0312104715,3:0,In interviews with gender issues journalist Ja...,0.0,NaN
1850307,40887,999993,Would You Rather . . . ?: The Outrageous Book ...,1:2,400.0,4:35,total:121,1,10,Workman Publishing Company,...,NaN,Randy Horn,3.81,2:11,5:39,0761124209,3:34,<i>Would You Rather...?</i> takes the idea of ...,14.0,NaN
1850308,40888,999997,Addictions Treatment for Older Adults: Evaluat...,1:0,258.0,4:0,total:0,2,2,Routledge,...,NaN,Kathryn Graham,0.00,2:0,5:0,1560248572,3:0,Here is a detailed description of an innovativ...,0.0,NaN
1850309,40889,999998,Within/Without,1:0,36.0,4:0,total:2,1,3,"Pilgrims Process, Inc.",...,NaN,Kathryn T.S. Bass,5.00,2:0,5:2,097495974X,3:0,NaN,0.0,NaN

In [ ]:
#to_obtain_list to scrap
# df['ISBN'].to_csv('list_ISBN', index=False)

In [ ]:
# test = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Projects/PROJECT 4 - WEBSCRAPING/list_ISBN')
# test

               ISBN
0        0439358078
1        0439554896
2        043965548X
3        0439682584
4        0976540606
...             ...
1844382  1405117591
1844383  0312104715
1844384  0761124209
1844385  1560248572
1844386  097495974X

[1844387 rows x 1 columns]

# cleaning the RatingDistTotal column

In [ ]:
new = df["RatingDistTotal"].str.split(':', expand=True)
new

             0        1
1        total  2358637
3        total  2560657
4        total  2610317
6        total    43968
7        total       28
...        ...      ...
1850305  total       25
1850306  total        0
1850307  total      121
1850308  total        0
1850309  total        2

[1844387 rows x 2 columns]

In [ ]:
df["RatingDistTotal_split"]= new[1]

In [ ]:
# Drop the old column RatingDistTotal and the columns we won't study
df = df.drop(['PublishDay', 'PublishMonth', 'Language', 'RatingDistTotal'], axis=1)

In [ ]:
df.columns

Index(['Unnamed: 0', 'Id', 'Name', 'RatingDist1', 'pagesNumber', 'RatingDist4',
       'Publisher', 'CountsOfReview', 'PublishYear', 'Authors', 'Rating',
       'RatingDist2', 'RatingDist5', 'ISBN', 'RatingDist3', 'Description',
       'Count of text reviews', 'PagesNumber', 'RatingDistTotal_split'],
      dtype='object')

In [ ]:
df.info()

In [ ]:
new2 = df['RatingDist1'].str.split(':', expand=True)
new2

         0      1
1        1  12455
3        1  11896
4        1  10128
6        1    402
7        1      0
...     ..    ...
1850305  1      0
1850306  1      0
1850307  1      2
1850308  1      0
1850309  1      0

[1844387 rows x 2 columns]

In [ ]:
df

,Unnamed: 0,Id,Name,pagesNumber,Publisher,CountsOfReview,PublishYear,Authors,Rating,ISBN,Description,Count of text reviews,PagesNumber,RatingDistTotal_split,RatingDist1_final,RatingDist2_final,RatingDist3_final,RatingDist4_final,RatingDist5_final
1,1,2,Harry Potter and the Order of the Phoenix (Har...,870.0,Scholastic Inc.,29770,2004,J.K. Rowling,4.50,0439358078,NaN,NaN,NaN,2358637,12455,37005,211781,604283,1493113
3,3,4,Harry Potter and the Chamber of Secrets (Harry...,352.0,Scholastic,244,2003,J.K. Rowling,4.42,0439554896,NaN,NaN,NaN,2560657,11896,49353,288821,706082,1504505
4,4,5,Harry Potter and the Prisoner of Azkaban (Harr...,435.0,Scholastic Inc.,37093,2004,J.K. Rowling,4.57,043965548X,NaN,NaN,NaN,2610317,10128,24849,194848,630534,1749958
6,6,8,"Harry Potter Boxed Set, Books 1-5 (Harry Potte...",2690.0,Scholastic,166,2004,J.K. Rowling,4.78,0439682584,NaN,NaN,NaN,43968,402,283,1201,4650,37432
7,7,9,"Unauthorized Harry Potter Book Seven News: ""Ha...",152.0,Nimble Books,1,2005,W. Frederick Zimmerman,3.79,0976540606,NaN,NaN,NaN,28,0,5,6,7,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1850305,40885,999991,Gendered Talk at Work: Constructing Gender Ide...,251.0,Wiley-Blackwell,0,2006,Janet Holmes,4.28,1405117591,<i>Gendered Talk at Work</i> examines how wome...,0.0,NaN,25,0,1,6,3,15
1850306,40886,999992,Good Will Toward Men: Women Talk Candidly abou...,231.0,St. Martin's Press,0,1994,Jack Kammer,0.00,0312104715,In interviews with gender issues journalist Ja...,0.0,NaN,0,0,0,0,0,0
1850307,40887,999993,Would You Rather . . . ?: The Outrageous Book ...,400.0,Workman Publishing Company,14,2001,Randy Horn,3.81,0761124209,<i>Would You Rather...?</i> takes the idea of ...,14.0,NaN,121,2,11,34,35,39
1850308,40888,999997,Addictions Treatment for Older Adults: Evaluat...,258.0,Routledge,0,1995,Kathryn Graham,0.00,1560248572,Here is a detailed description of an innovativ...,0.0,NaN,0,0,0,0,0,0
1850309,40889,999998,Within/Without,36.0,"Pilgrims Process, Inc.",0,2005,Kathryn T.S. Bass,5.00,097495974X,NaN,0.0,NaN,2,0,0,0,0,2

In [ ]:
df["RatingDist1_final"]= new2[1]
df = df.drop(['RatingDist1'], axis=1)

In [ ]:
new3 = df['RatingDist2'].str.split(':', expand=True)
new3

df["RatingDist2_final"]= new3[1]
df = df.drop(['RatingDist2'], axis=1)

In [ ]:
new4 = df['RatingDist3'].str.split(':', expand=True)
new4

df["RatingDist3_final"]= new4[1]
df = df.drop(['RatingDist3'], axis=1)

In [ ]:
new5 = df['RatingDist4'].str.split(':', expand=True)
new5

df["RatingDist4_final"]= new5[1]
df = df.drop(['RatingDist4'], axis=1)

In [ ]:
new6 = df['RatingDist5'].str.split(':', expand=True)
new6

df["RatingDist5_final"]= new6[1]
df = df.drop(['RatingDist5'], axis=1)

In [ ]:
df

,Unnamed: 0,Id,Name,pagesNumber,Publisher,CountsOfReview,PublishYear,Authors,Rating,ISBN,Description,Count of text reviews,PagesNumber,RatingDistTotal_split,RatingDist1_final,RatingDist2_final,RatingDist3_final,RatingDist4_final,RatingDist5_final
1,1,2,Harry Potter and the Order of the Phoenix (Har...,870.0,Scholastic Inc.,29770,2004,J.K. Rowling,4.50,0439358078,NaN,NaN,NaN,2358637,12455,37005,211781,604283,1493113
3,3,4,Harry Potter and the Chamber of Secrets (Harry...,352.0,Scholastic,244,2003,J.K. Rowling,4.42,0439554896,NaN,NaN,NaN,2560657,11896,49353,288821,706082,1504505
4,4,5,Harry Potter and the Prisoner of Azkaban (Harr...,435.0,Scholastic Inc.,37093,2004,J.K. Rowling,4.57,043965548X,NaN,NaN,NaN,2610317,10128,24849,194848,630534,1749958
6,6,8,"Harry Potter Boxed Set, Books 1-5 (Harry Potte...",2690.0,Scholastic,166,2004,J.K. Rowling,4.78,0439682584,NaN,NaN,NaN,43968,402,283,1201,4650,37432
7,7,9,"Unauthorized Harry Potter Book Seven News: ""Ha...",152.0,Nimble Books,1,2005,W. Frederick Zimmerman,3.79,0976540606,NaN,NaN,NaN,28,0,5,6,7,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1850305,40885,999991,Gendered Talk at Work: Constructing Gender Ide...,251.0,Wiley-Blackwell,0,2006,Janet Holmes,4.28,1405117591,<i>Gendered Talk at Work</i> examines how wome...,0.0,NaN,25,0,1,6,3,15
1850306,40886,999992,Good Will Toward Men: Women Talk Candidly abou...,231.0,St. Martin's Press,0,1994,Jack Kammer,0.00,0312104715,In interviews with gender issues journalist Ja...,0.0,NaN,0,0,0,0,0,0
1850307,40887,999993,Would You Rather . . . ?: The Outrageous Book ...,400.0,Workman Publishing Company,14,2001,Randy Horn,3.81,0761124209,<i>Would You Rather...?</i> takes the idea of ...,14.0,NaN,121,2,11,34,35,39
1850308,40888,999997,Addictions Treatment for Older Adults: Evaluat...,258.0,Routledge,0,1995,Kathryn Graham,0.00,1560248572,Here is a detailed description of an innovativ...,0.0,NaN,0,0,0,0,0,0
1850309,40889,999998,Within/Without,36.0,"Pilgrims Process, Inc.",0,2005,Kathryn T.S. Bass,5.00,097495974X,NaN,0.0,NaN,2,0,0,0,0,2

In [ ]:
#df.info()
# convert the rating int 

df[['RatingDistTotal_split','RatingDist1_final','RatingDist2_final','RatingDist3_final','RatingDist4_final','RatingDist5_final']] = df[['RatingDistTotal_split','RatingDist1_final','RatingDist2_final','RatingDist3_final','RatingDist4_final','RatingDist5_final']].astype(str).astype(int)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1844387 entries, 1 to 1850309
Data columns (total 19 columns):
 #   Column                 Dtype
---  ------                 -----
 0   Unnamed: 0             int64
 1   Id                     int64
 2   Name                   object
 3   pagesNumber            float64
 4   Publisher              object
 5   CountsOfReview         int64
 6   PublishYear            int64
 7   Authors                object
 8   Rating                 float64
 9   ISBN                   object
 10  Description            object
 11  Count of text reviews  float64
 12  PagesNumber            float64
 13  RatingDistTotal_split  int64
 14  RatingDist1_final      int64
 15  RatingDist2_final      int64
 16  RatingDist3_final      int64
 17  RatingDist4_final      int64
 18  RatingDist5_final      int64
dtypes: float64(4), int64(10), object(5)
memory usage: 281.4+ MB

In [ ]:
# Drop books who have "unknown" and "anonymous"
df.drop(df[(df['Authors']=="Anonymous") | (df['Authors']=="Unknown") ].index, inplace=True)

In [ ]:
# Drop Count of text reviews	 because too many NaNs

In [ ]:
df.to_csv("Clean_data.csv")

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/WILD CODE SCHOOL/PROJECT 4 - WEBSCRAPING/Dataset clean/Clean_data.csv')

/usr/local/lib/python3.8/dist-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (11) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [ ]:
df.isna().sum()

Unnamed: 0                     0
Unnamed: 0.1                   0
Id                             0
Name                           0
pagesNumber              1009480
Publisher                  17497
CountsOfReview                 0
PublishYear                    0
Authors                        0
Rating                         0
ISBN                           0
Description               673619
Count of text reviews    1432096
PagesNumber               830020
RatingDistTotal_split          0
RatingDist1_final              0
RatingDist2_final              0
RatingDist3_final              0
RatingDist4_final              0
RatingDist5_final              0
dtype: int64

In [ ]:
df.corr()

,Unnamed: 0,Unnamed: 0.1,Id,pagesNumber,CountsOfReview,PublishYear,Rating,Count of text reviews,PagesNumber,RatingDistTotal_split,RatingDist1_final,RatingDist2_final,RatingDist3_final,RatingDist4_final,RatingDist5_final
Unnamed: 0,1.000000,0.134117,0.240865,-0.001331,-0.027456,-0.008347,-0.112420,0.016765,0.000926,-0.012829,-0.008733,-0.012262,-0.014645,-0.014020,-0.010730
Unnamed: 0.1,0.134117,1.000000,0.598418,0.000107,-0.021710,-0.007900,-0.189367,0.004820,0.000163,-0.023336,-0.016432,-0.023285,-0.027283,-0.025803,-0.019028
Id,0.240865,0.598418,1.000000,-0.000200,-0.041516,-0.016270,-0.322308,-0.017245,0.000944,-0.032388,-0.022104,-0.031745,-0.037631,-0.035833,-0.026564
pagesNumber,-0.001331,0.000107,-0.000200,1.000000,0.000577,0.000073,-0.000926,0.000257,NaN,0.000604,0.000393,0.000413,0.000463,0.000605,0.000620
CountsOfReview,-0.027456,-0.021710,-0.041516,0.000577,1.000000,0.002163,0.025026,1.000000,0.000114,0.145726,0.147644,0.151650,0.151595,0.152128,0.126206
PublishYear,-0.008347,-0.007900,-0.016270,0.000073,0.002163,1.000000,0.014818,0.003452,0.000025,0.000747,0.000562,0.000629,0.000723,0.000777,0.000691
Rating,-0.112420,-0.189367,-0.322308,-0.000926,0.025026,0.014818,1.000000,0.023189,-0.001932,0.038008,0.024992,0.034558,0.041846,0.041548,0.032475
Count of text reviews,0.016765,0.004820,-0.017245,0.000257,1.000000,0.003452,0.023189,1.000000,NaN,0.055915,0.074820,0.070664,0.061833,0.055759,0.046200
PagesNumber,0.000926,0.000163,0.000944,NaN,0.000114,0.000025,-0.001932,NaN,1.000000,0.000627,0.000496,0.000550,0.000565,0.000616,0.000610
RatingDistTotal_split,-0.012829,-0.023336,-0.032388,0.000604,0.145726,0.000747,0.038008,0.055915,0.000627,1.000000,0.774676,0.842612,0.925333,0.986102,0.966696
RatingDist1_final,-0.008733,-0.016432,-0.022104,0.000393,0.147644,0.000562,0.024992,0.074820,0.000496,0.774676,1.000000,0.939646,0.851868,0.768562,0.653485
RatingDist2_final,-0.012262,-0.023285,-0.031745,0.000413,0.151650,0.000629,0.034558,0.070664,0.000550,0.842612,0.939646,1.000000,0.963824,0.871717,0.690640
RatingDist3_final,-0.014645,-0.027283,-0.037631,0.000463,0.151595,0.000723,0.041846,0.061833,0.000565,0.925333,0.851868,0.963824,1.000000,0.959079,0.799010
RatingDist4_final,-0.014020,-0.025803,-0.035833,0.000605,0.152128,0.000777,0.041548,0.055759,0.000616,0.986102,0.768562,0.871717,0.959079,1.000000,0.919513
RatingDist5_final,-0.010730,-0.019028,-0.026564,0.000620,0.126206,0.000691,0.032475,0.046200,0.000610,0.966696,0.653485,0.690640,0.799010,0.919513,1.000000

## Try on 3 books: Create the function to grab the price for the paperback and hardcover

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/WILD CODE SCHOOL/PROJECT 4 - WEBSCRAPING/Amazon_WebScrapping/Trial on 3 books - Python/Test')
df

,Unnamed: 0,0,1
0,0,[' Kindle \n $12.99 \n \n \n\n ...,Atomic Habits
1,1,[' Kindle \n $16.99 \n \n \n\n ...,The Light We Carry
2,2,[' Kindle \n $14.99 \n \n \n\n ...,I'm Glad My Mom Died
3,3,[],1234567tt
4,4,[' Paperback \n $28.79 \n\n\n \n 3 Us...,pão de açúcar

In [ ]:
# Dropping the row 3 which was a test 
#df.drop(labels=[3], axis=0, inplace=True)

In [ ]:
df['0'][1]

"['  Kindle  \\n $16.99  \\n   \\n  \\n\\n                                    Read with Our  Free App  \\n\\n    ', '  \\n\\n\\n  \\n Audiobook    \\n  \\n\\n $0.00  \\n\\n\\n \\n\\n\\n   \\n \\n \\n Free with your Audible trial    \\n ', '  Hardcover  \\n    \\n                             from $15.95                \\n\\n\\n   \\n     8 Used from $15.95         37 New from $19.84      ', '  Paperback  \\n $31.50  \\n\\n\\n   \\n     5 Used from $23.83         21 New from $23.95      ', '  Audio CD  \\n $38.78  \\n\\n\\n   \\n     5 Used from $27.08         17 New from $27.12      ']"

In [ ]:
df.columns

Index(['Unnamed: 0', '0', '1'], dtype='object')

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  5 non-null      int64
 1   0           5 non-null      object
 2   1           5 non-null      object
dtypes: int64(1), object(2)
memory usage: 248.0+ bytes

In [ ]:
# code working for the paperback
re.findall('Paperback\s\s.n\s.[[0-9]+\.[0-9]+', df['0'][1])

['Paperback  \\n $31.50']

In [ ]:
# ISOLATING THE PRICE 
re.findall('(?<=Paperback\s\s.n\s.)[[0-9]+\.[0-9]+', df['0'][1])

['31.50']

In [ ]:
# write a function
# not working, need to find a way to get the price per book 
def get_price(book):
  return(re.findall('(?<=Paperback\s\s.n\s.)[[0-9]+\.[0-9]+', book))

df['price_paperback'] = list(map(get_price,df['0']))

#df['0'].apply(lambda tag: get_price(book))

In [ ]:
def get_price_hardcover(book):
  return(re.findall('(?<=Hardcover\s\s.n\s.)[[0-9]+\.[0-9]+', book))
df['price_hardcover'] = list(map(get_price_hardcover,df['0']))

In [ ]:
df

,Unnamed: 0,0,1,price_paperback,price_hardcover
0,0,[' Kindle \n $12.99 \n \n \n\n ...,Atomic Habits,[14.90],[11.98]
1,1,[' Kindle \n $16.99 \n \n \n\n ...,The Light We Carry,[31.50],[]
2,2,[' Kindle \n $14.99 \n \n \n\n ...,I'm Glad My Mom Died,[],[17.28]
3,3,[],1234567tt,[],[]
4,4,[' Paperback \n $28.79 \n\n\n \n 3 Us...,pão de açúcar,[28.79],[]

In [ ]:
type(df['price_hardcover'][0])

list

In [ ]:
df['price_hardcover'] = df['price_hardcover'].str[0]
df['price_paperback'] = df['price_paperback'].str[0]

#df['price_hardcover'] = df['price_hardcover'].str[0].astype(float)
#df['price_paperback'] = df['price_paperback'].str[0].astype(float)

In [ ]:
df

,Unnamed: 0,0,1,price_paperback,price_hardcover
0,0,[' Kindle \n $12.99 \n \n \n\n ...,Atomic Habits,14.90,11.98
1,1,[' Kindle \n $16.99 \n \n \n\n ...,The Light We Carry,31.50,NaN
2,2,[' Kindle \n $14.99 \n \n \n\n ...,I'm Glad My Mom Died,NaN,17.28
3,3,[],1234567tt,NaN,NaN
4,4,[' Paperback \n $28.79 \n\n\n \n 3 Us...,pão de açúcar,28.79,NaN

In [ ]:
df['price_paperback'] = df['price_paperback'].astype(float)
df['price_hardcover'] = df['price_hardcover'].astype(float)

In [ ]:
df

,Unnamed: 0,0,1,price_paperback,price_hardcover
0,0,[' Kindle \n $12.99 \n \n \n\n ...,Atomic Habits,14.90,11.98
1,1,[' Kindle \n $16.99 \n \n \n\n ...,The Light We Carry,31.50,NaN
2,2,[' Kindle \n $14.99 \n \n \n\n ...,I'm Glad My Mom Died,NaN,17.28
3,3,[],1234567tt,NaN,NaN
4,4,[' Paperback \n $28.79 \n\n\n \n 3 Us...,pão de açúcar,28.79,NaN

In [ ]:
type(df['price_hardcover'][0])

numpy.float64

In [ ]:
# harcover all
re.findall('Hardcover\s\s.n\s.[[0-9]+\.[0-9]+', df['0'][2])

['Hardcover  \\n $17.28']

In [ ]:
# Price for the Hardcover  
result = re.findall('(?<=Hardcover\s\s.n\s.)[[0-9]+\.[0-9]+', df['0'][2])

## OTHER CODE NOT WORKING

In [ ]:
re.findall('Paperback\s\s.n\s.[0-9]+\.[0-9]+[^[a-zA-Z]]', df['0'][1])

[]

In [ ]:
re.findall('(?!Paperback\s+\S+)[0-9]+\.[0-9]+', df['0'][1])

['16.99',
 '0.00',
 '15.95',
 '15.95',
 '19.84',
 '31.50',
 '23.83',
 '23.95',
 '38.78',
 '27.08',
 '27.12']

In [ ]:
re.findall('[Paperback\s\s.n\s.]([0-9]+\.[0-9]+)', df['0'][1])

grade = re.findall("[\d]{1,2}/[\d]{1,2} ", text)
print(grade)

NameError: ignored

In [ ]:
“[a-zA-Z]+([0-9]+)" 

	Creates a subexpression within a larger expression. Useful with the "or" perator (i.e. | ), and when extracting and replacing values. For example, if I wanted to extract a numeric value which I know follows directly after a word or set of letters, I could use the regular expression “[a-zA-Z]+([0-9]+)" this matches the whole expression, but allows you to select the 
portion in the parentheses (called a substring). Handling substrings is discussed in greater detail below.

In [ ]:
    # isolate the expression
# re.findall('Paperback\s\s.n\s.[0-9]+\.[0-9]+', df['0'][1]).find('[0-9]+\.[0-9]+') # not working

#Other try with | but displaying all the prices
re.findall('Paperback\s\s.n\s.|[0-9]+\.[0-9]+', df['0'][1])

# Other try with this /^[0-9]*$/ to display just numbers OR ^[0-9]+$ > doesn't catch anything
re.findall('Paperback\s\s.n\s.[0-9]+\.[0-9]+/^[0-9]*$/', df['0'][1])

# other try with \d+ to match one or more digits
re.findall(('Paperback\s\s.n\s.[0-9]+\.[0-9]+')('\d+'), df['0'][1])

# other try with \D to match one or more digits
re.findall(('Paperback\s\s.n\s.[0-9]+\.[0-9]+')('\d+'), df['0'][1])

# trying with [] and / and ()
re.findall('[Paperback\s\s.n\s.]/([0-9]+\.[0-9]+)', df['0'][1])

In [ ]:
re.findall(('Paperback\s\s.n\s.[0-9]+\.[0-9]+[^aA]'), df['0'][1])

In [ ]:
# other try with [^A-Z] to just show the price 
re.findall('Paperback\s\s.n\s.[0-9]+\.[0-9]$([^A-Z])', df['0'][1])

In [ ]:
# grab just the format 
re.findall('Paperback\s\s.n\s', df['0'][1])

In [ ]:
# grab all the prices
re.findall('[0-9]+\.[0-9]+', df['0'][1])

In [ ]:
df.columns

In [ ]:
type(df)